<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base/head :: head (pageTitle='账户')"></head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div th:replace="fragments/base/header :: header"></div>
                <div class="accountList container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>My Card <a class="btn icon-btn btn-primary pull-right" href="#"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle"></span> Add New Card</a></h1>
                        </div>
                        <div th:each="account,accountStat : ${allAccounts}" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class='col-lg-12'>
                                        <span class="glyphicon glyphicon-credit-card"></span>
                                        <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                                    </div>
                                    <div class='col-lg-12 well well-add-card'>
                                        <h4 th:text="${account.name}"></h4>
                                    </div>
                                    <div class='col-lg-12'>
                                        <p th:text="${account.type}"></p>
                                        <p class="text-muted" th:text="${account.amount}"></p>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-xs btn-update btn-add-card">Update</button>
                                    <button type="button" class="btn btn-danger btn-xs btn-update btn-add-card">Vrify Now</button>
                                    <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End container -->
                <div th:replace="fragments/base/footer :: footer"></div>
            </div>
        </div>
    </div>
</body>

</html>