<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base/head :: head (pageTitle='首页')"></head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div th:replace="fragments/base/header :: header"></div>
                <div class="inner cover">
                    <h1 class="cover-heading">Your expense:</h1>
                    <p class="lead count" th:text="${allExpense}"></p>
                    <p class="lead">
                        <a href="#" data-toggle="modal" data-target="#expense-overlay" class="btn btn-lg btn-default">记一笔
                    </a>
                    </p>
                </div>
                <div th:replace="fragments/base/footer :: footer"></div>
            </div>
        </div>
    </div>

    <div id="expense-overlay" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">记一笔</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well">
                                <form id="expenseForm" novalidate="novalidate">
                                    <div class="form-label">
                                        <label for="amount" class="control-label">金额</label>
                                    </div>
                                    <div class="form-group form-inline">
                                        <button type="button" class="btn btn-primary" id="isExpense">-</button>
                                        <input type="text" class="form-control" id="amount" name="amount" />
                                        <button type="button" class="btn btn-success" id="isIncome">+</button>
                                    </div>
                                    <div class="form-label">
                                        <label for="categoryId" class="control-label">类别</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="btn-group category-group btn-matrix" role="group" aria-label="category" data-toggle="buttons"></div>
                                        <button type="button" class="btn btn-default btn-block" data-oper="addCat" data-toggle="modal" data-target="#category-overlay">+</button>
                                    </div>
                                    <div class="form-group date">
                                        <label for="date" class="control-label">日期</label>
                                        <input type="text" class="form-control" id="date" name="date" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="comment" class="control-label">备注</label>
                                        <textarea class="form-control" rows="3" id="comment" name="comment" />
                                    </div>
                                    <input type="hidden" id="type" name="type" value="0" />
                                    <button type="submit" class="btn btn-success addEntryBtn">确定</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="category-overlay" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">新增类别</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well">
                                <form id="catgoryForm" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="name" class="control-label">类别名称</label>
                                        <input type="text" class="form-control" id="name" name="name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="icon" class="control-label">类别图标</label>
                                        <input type="text" class="form-control" id="icon" name="icon" />
                                    </div>
                                    <div class="form-group">
                                        <div class="btn-group" role="group" data-toggle="buttons">
                                            <label class="btn btn-default"><input type="radio" id="catType" name="type" value="0" />支出</label>
                                            <label class="btn btn-default"><input type="radio" id="catType" name="type" value="1" />收入</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block addCatBtn">确定</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.count').nincre({
            duration: 2000,
            startFrom: -100
        });
        $('#icon').fontIconPicker({
            emptyIcon: false,
            source: ["icon-money", "icon-user", "icon-food", "icon-coffee", "icon-apple", "icon-beer",
                "icon-mobile", "icon-flight", "icon-truck", "icon-music", "icon-dollar", "icon-ok",
                "icon-heart", "icon-star", "icon-plus", "icon-minus", "icon-attention", "icon-briefcase",
                "icon-suitcase", "icon-book", "icon-award", "icon-flash", "icon-picture", "icon-camera",
                "icon-home", "icon-cart-plus", "icon-glass", "icon-bus",
            ],
            theme: 'fip-bootstrap',
            iconsPerPage: 50
        });
    </script>
</body>

</html>