<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base/head :: head (pageTitle='明细')"></head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div th:replace="fragments/base/header :: header"></div>
                <div class="entryList pre-scrollable">
                    <ul class="list-group">
                        <li th:each="entry,entryStat : ${allEntries}" class="list-group-item" 
                            th:classappend="${entry.category.type == 0} ? 'list-group-item-warning' : 'list-group-item-success'">
                            <h4 class="list-group-item-heading" 
                                th:text="${entry.category.type == 0} ? '-￥' + ${entry.amount} : '+￥' + ${entry.amount} "></h4>
                            <div class="list-group-item-text">
                                <i th:class="${entry.category.icon}"></i>
                                <h4>
                                    <span th:text="${entry.category.name}"></span>
                                    <div th:text="${entry.comment}" class="label label-info"></div>
                                </h4>                              
                            </div>
                        </li>
                    </ul>
                </div>
                <div th:replace="fragments/base/footer :: footer"></div>
            </div>
        </div>
    </div>
</body>

</html>